
    <div class="modal-content text-white font-weight-bold">
        <div class="modal-header bg-danger">
            <h5 class="modal-title">Bad format</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>You can add files only mp3 format. Sorry.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
        </div>
    </div>
