@{
    ViewBag.Title = "About";
}

<div class="container mt-5">
    <h3 class="text-center font-weight-bold">@ViewBag.Title</h3>
    <p>
        Found some interesting profile on Instagram?
        Need to know who always liked and commented on their post and etc?
        This is the app for you.
        With this app you, not only you can get more insight about your profile, it also can unlock many secret of your friends.
        Leave no stone unturned. Get it now!
    </p>
</div>