@model List<Follower_Analyzer_for_Instagram.Models.InstagramPost>

@if (Model != null && Model.Count != 0)
{
    <div class="container py-5">
        <div class="row m-auto">
            @foreach (var post in Model)
            {
                <div class="col-md-6 p-2">
                    <div class="text-center font-weight-bold">
                        @post.CountOfComments
                        <svg class="bi bi-chat-square-dots-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm5 4a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                        </svg>
                    </div>
                    <div class="mx-auto text-center my-2">
                        @if (post.MediaFileUri.IndexOf(".mp4") == -1)
                        {
                            <img class="h-75 w-75" src="@post.MediaFileUri" alt="Instagram media file">
                        }
                        else
                        {
                            <video controls>
                                <source src="@post.MediaFileUri" type="video/mp4">
                                Your browser does not support HTML video.
                            </video>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}
