<style>
    #msg404 {
        
        color:black;
        text-align:center;
        font-size:70px;
    }

    #exMsg {
        color: red;
        text-align: center;
        font-size: 30px;
    }
</style>

<br />
<div id="msg404">404</div>
    <div id="exMsg">@ViewBag.ErrorMsg</div>

