body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.bg {
    background-image: url("Images/register.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
}