@if (Session["Authorized"] != null&& Session["Authorized"].ToString() != "false")
{
        <ul class="nav navbar-nav mr-3">
            <li class="nav-item">
                <h1 class="navbar-brand pt-2"><i>Hello, @ViewBag.UserName!</i></h1>
            </li>
            <li class="nav-item">
                @Html.ActionLink("Log out", "Logout", "Account", null, new { @class = "nav-link" })
            </li>
        </ul>
}
else
{
    <ul class="nav navbar-nav mr-3">
        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", null, new { @class = "nav-link" })</li>
    </ul>
}