@{ string username = (string)HttpContext.Current.Session["Username"]; }

@if (username != null)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav mr-3">
            <li class="nav-item">
                <h1 class="navbar-brand pt-2"><i>Hello, @username!</i></h1>
            </li>
            <li class="nav-item">
                <input type="submit" class="nav-link btn-dark border-0 m-1" value="Log out"/>
            </li>
        </ul>
    }
 }
 else
 {
    <ul class="nav navbar-nav mr-3">
        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", null, new { @class = "nav-link" })</li>
    </ul>
}